<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/practice15</property> <!-- BD Mane -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="hibernate.connection.username">postgres</property> <!-- DB User -->
        <property name="hibernate.connection.password">1</property> <!-- DB Password -->

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
<!--        <property name="hbm2ddl.auto">update</property> &lt;!&ndash; create / create-drop / update &ndash;&gt;-->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
<!--        <property name="format_sql">true</property> &lt;!&ndash; Show SQL formatted &ndash;&gt;-->

<!--        <mapping class="beans.Task"/>-->

    </session-factory>
</hibernate-configuration>